# Custom gromit-mpx configuration

"red Pen" = PEN (size=7 color="#d3869b");
"blue Pen" = "red Pen" (color="#83a598");
"yellow Pen" = "red Pen" (color="#fabd2f");

"Eraser" = ERASER (size = 75);

"default" = "red Pen";
"default"[SHIFT] = "blue Pen";
"default"[CONTROL] = "yellow Pen";
